
<template>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">About</div>

          <div class="card-body">
            <p>I wrote this single-page application (SPA) in Laravel and VueJS.  It was originally written as a prototype back in
            July of 2021, but I have gone back and cleaned up code, added comments, and some basic error handling.</p>

            <h1>Highlights</h1>

            <ul>
              <li> Laravel primarily for backend functionality (database connection and API) </li>
              <li> VueJS for the frontend display </li>
              <li> Straightforward responsive design </li>
              <li> Bootstrap CSS classes for the grid functionality and additional styling </li>
              <li> vuejs-smart-table to display the table data with sorting functionality </li>
              <li> vue-chartjs for the chart creation and display </li>
              <li> MySQL database to store the data </li>
              <li> npm package manager to install the 3rd party JS libraries and to compile the Vue JS code </li>
              <li> aristan for the model creation and database migration scripting </li>
              <li> eslint on the VueJS code </li>
            </ul>

            <h1> Considerations / Potential Todos</h1>

            <ul>
              <li> The API is not built out or structured since this app is not updating or deleting data, it is just a single request
              to the default route.</li>
              <li> The CSS is very simple, otherwise I would most likely use SASS </li>
              <li> Using JS alerts for error handling, I would use some kind of div based error notification in a production app.  The
              main idea was to show some basic error handling logic. </li>
            </ul>

            <h1> Code Samples </h1>

            <ul>
              <li> <a target="_blank" href="https://bitbucket.org/dlehman82/call-metrics/src/master/resources/js/pages/HomePage.vue">VueJS frontend display code</a> </li>
              <li> <a target="_blank" href="https://bitbucket.org/dlehman82/call-metrics/src/master/app/Http/Controllers/API/MetricController.php">Backend API code</a> </li>
              <li> <a target="_blank" href="https://bitbucket.org/dlehman82/call-metrics/src/master/database/migrations/2021_07_02_173240_office_territory_table.php">Database insert migration script</a> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>
