<template>
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">Call Metrics</div>
          <div class="card-body">
            <form @submit.prevent="handleSubmit">
              <div class="row">
                <div class="col-md-2">
                  Start Date
                </div>
                <div class="col-md-3">
                  <input type="date" v-model="form.start">
                </div>
              </div>
              <div class="row">
                <div class="col-md-2">
                  End Date
                </div>
                <div class="col-md-3">
                  <input type="date" v-model="form.end">
                </div>
              </div>
              <div class="row">
                <div class="col-md-5">
                  <button class="mt-3 w-100" type="submit">Display Metrics</button>
                </div>
              </div>
            </form>

            <line-chart v-if="loaded" :chart-data="chartdata" :options="options" />

            <div v-if="loaded">
              <div class="text-center metric-totals">
                <span class="font-weight-bold">Total Mail Sent</span><br />
                {{ this.total('mail_sent') }}
              </div>

              <div class="text-center metric-totals">
                <span class="font-weight-bold">Total Cost</span><br />
                {{ this.total('cost', true) }}
              </div>

              <div class="text-center metric-totals">
                <span class="font-weight-bold">Total Calls</span><br />
                {{ this.total('calls') }}
              </div>

              <div class="text-center metric-totals">
                <span class="font-weight-bold">Total Appointments</span><br />
                {{ this.total('appointments') }}
              </div>

              <div class="text-center metric-totals">
                <span class="font-weight-bold">Total Sales</span><br />
                {{ this.total('sales') }}
              </div>

              <div class="text-center metric-totals">
                <span class="font-weight-bold">Total Revenue</span><br />
                {{ this.total('revenue', true) }}
              </div>

              <div class="text-center metric-totals">
                <span class="font-weight-bold">ROI</span><br />
                {{ this.roi() }}
              </div>

              <span class="font-weight-bold">Daily Data</span><br />
              <v-table :data="metrics">
                <thead slot="head">
                  <v-th sortKey="date">Date</v-th>
                  <v-th sortKey="mail_sent">Mail Sent</v-th>
                  <v-th sortKey="cost">Cost</v-th>
                  <v-th sortKey="calls">Calls</v-th>
                  <v-th sortKey="appointments">Appts</v-th>
                  <v-th sortKey="sales">Sales</v-th>
                  <v-th sortKey="revenue">Revenue</v-th>
                </thead>
                <tbody slot="body" slot-scope="{displayData}">
                  <tr v-for="row in displayData" v-bind:key="row.date">
                    <td align="right">{{ row.date }}</td>
                    <td align="right">{{ row.mail_sent }}</td>
                    <td align="right">${{ row.cost }}</td>
                    <td align="right">{{ row.calls}}</td>
                    <td align="right">{{ row.appointments}}</td>
                    <td align="right">{{ row.sales}}</td>
                    <td align="right">${{ row.revenue}}</td>
                  </tr>
                </tbody>
              </v-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import LineChart from '../components/LineChart.vue'

export default {

  components: {
    LineChart
  },

  data () {
    return {
      loaded: false,
      chartdata: {},
      options: {},
      form: {
        start: '2020-09-01', // hardcoding to make it easier to pick dates based on the provided data
        end: '2020-09-30' // hardcoding to make it easier to pick dates based on the provided data
      },
      metrics: null
    }
  },

  methods: {
    /**
     * Gets called when the user clicks on the Display Metrics button
     */
    handleSubmit () {
      /**
       * Ensure end date is after start date
       * Just remove dashes and compare dates. I would most likely use Date object comparison
       * in production, but dates are passed in YYYY-MM-DD, so this simple test works
       */
      if (this.form.end.replace(/-/g, '') < this.form.start.replace(/-/g, '')) {
        alert('End date must be after start date')
        return false
      }

      const axios = require('axios')

      // Get the metrics data from the server side using the Axios library
      axios.get('/api/metrics', { params: this.form })
        .then(response => {
          // Simple array check to help ensure valid data
          if (!Array.isArray(response.data)) {
            alert('There was an error.  Invalid data')
            return false
          }

          // Simple check to ensure we received data
          if (response.data.length < 1) {
            alert('There was an error.  No data returned')
            return false
          }

          this.loaded = true
          this.metrics = response.data

          // Setup chart data
          const labels = []
          const calls = []
          const appointments = []
          const sales = []

          for (let i = 0; i < this.metrics.length; i++) {
            labels.push(this.metrics[i].date)
            calls.push(this.metrics[i].calls)
            appointments.push(this.metrics[i].appointments)
            sales.push(this.metrics[i].sales)
          }

          // Start chart creation
          this.chartdata = {
            labels: labels,
            datasets: [
              {
                label: 'Calls',
                backgroundColor: 'red',
                pointBackgroundColor: 'white',
                borderWidth: 1,
                pointBorderColor: '#249EBF',
                // Data to be represented on y-axis
                data: calls
              },
              {
                label: 'Appointments',
                backgroundColor: 'blue',
                pointBackgroundColor: 'white',
                borderWidth: 1,
                pointBorderColor: '#249EBF',
                // Data to be represented on y-axis
                data: appointments
              },
              {
                label: 'Sales',
                backgroundColor: 'black',
                pointBackgroundColor: 'white',
                borderWidth: 1,
                pointBorderColor: '#249EBF',
                // Data to be represented on y-axis
                data: sales
              }
            ]
          }
          this.options = {
            scales: {
              yAxes: [{
                ticks: {
                  beginAtZero: true
                },
                gridLines: {
                  display: true
                }
              }],
              xAxes: [{
                gridLines: {
                  display: false
                }
              }]
            },
            legend: {
              display: true
            },
            responsive: true,
            maintainAspectRatio: false
          }
        })
        // End chart creation
        .catch(error => { console.log(error.toJSON()) })
    },

    /**
     * Sum up values given an object with specified keys
     * Pass in the metric key to get a total amount and the optional currency flag for USD formatting
     * @param{string} metricName The metric you want to sum up
     * @param{boolean} currency Pass true for currency formatting
     * @return{number} The total value
     */
    total: function (metricName, currency = false) {
      // Do a simple check to see if the metric key exists on the first array element
      if (!this.metrics[0] || !this.metrics[0][metricName]) {
        alert(metricName + ' metric does not exist')
        return 0
      }

      /**
       * Sum up the values contained in the array of objects using the reduce method
       * Using * 100 and / 100 to ensure int values are added together so there are no precision errors
       * We would likely use some kind of math library in production, but this should be mathematically
       * sound for adding any together any values that are up to two decimals places
       */
      const total = this.metrics.reduce(function (sum, current) {
        return ((sum * 100) + (parseFloat(current[metricName]) * 100)) / 100
      }, 0)

      if (currency) {
        const formatter = new Intl.NumberFormat('en-US', {
          style: 'currency',
          currency: 'USD'
        })

        return formatter.format(total)
      } else {
        return total
      }
    },

    /**
     * ROI calculation ((Total Revenue - Total Cost) / Total Cost) * 100
     * @return{number} The ROI.
     */
    roi: function () {
      const totalRevenue = this.total('revenue')
      const totalCost = this.total('cost')

      return Math.round(((totalRevenue - totalCost) / totalCost) * 100)
    }
  }
}
</script>
